.wrap {
  padding: 120px 20px;
  background-color: #fff;
}

.imageWrap {
  text-align: center;
}

.img {
  width: 195px !important;
  min-width: 150px !important;
}

.title {
  margin-top: 20px;
  font-size: 24px;
  color: #000;
  font-weight: 600;
  font-size: 24px;
}

.content {
  margin: 10px 20px 0 20px;
}
