.wrap {
  padding: 120px 40px;
  background-image: url("../../assets/image/bg.png");
  background-repeat: no-repeat;
  background-position: top;
}

.imageWrap {
  text-align: center;
}

.img {
  width: 195px !important;
  min-width: 150px !important;
}
.des {
  margin: 0px 240px;
}
.title1 {
  margin-top: 20px;
  font-size: 24px;
  color: #000;
  font-weight: 600;
}
.title2 {
  margin-top: 25px;
  font-size: 20px;
  color: #000;
  font-weight: 500;
}
.subTitle1 {
  position: relative;
  display: inline-block;
  font-weight: bold;
  margin-top: 10px;
}
.subTitle1::after {
  content: "";
  position: absolute;
  left: 25%;
  bottom: -10px;
  width: 50%;
  height: 1px;
  background-color: rgb(53, 53, 53);
}
.subTitle2 {
  text-align: justify;
  font-weight: bold;
  margin: 12px 0px 0px 0px;
}
.table {
  margin: 20px 50px 0 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.content {
  margin: 6px 20px 0 20px;
  text-align: justify;
  p {
    margin: 0;
  }
}

@media (max-width: 900px) {
  .des {
    margin: 0px 20px;
  }
  .table {
    margin: 20px 10px 0 10px;
  }
}
