.wrapper {
  :global {
    .ant-tabs-nav-wrap {
      justify-content: center !important;
    }
  }
}

.wrap {
  overflow: hidden;
  padding: 0 40px;
  background-color: #fff;
}

.tableWrap {
  padding: 0 20px;
}

.logoWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 20px 10px 20px;
  .title {
    // font-weight: bold;
  }

  .logoContainer {
    text-align: center;
  }

  .logoImg {
    width: 195px !important;
    min-width: 150px !important;
    margin-bottom: 3vh;
  }
  .titleContent {
    justify-content: center;
    text-align: center;
  }
  .titleText {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 91.667% */
    margin-top: 20px;
    margin-bottom: 3vh;
  }
  .subTitleText {
    display: flex;
    justify-content: space-between;
    margin: 0.5vh 0;
    font-size: 16px;
    line-height: 22px;
    color: #000;

    .labelTitle {
      line-height: 25px;
    }
    .titleName {
      margin-left: 60px;
    }
  }
  .title {
    line-height: 35px;
    font-weight: 500;
  }
}
.btnWrap {
  text-align: end;
}
.title {
  margin-top: 30px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}
.boldText {
  font-weight: bold;
}
.contentWrap {
  margin: 0 0vh 3vh 0vh;
  min-height: 50vh;
  .buttonGroup {
    text-align: end;
  }
}

.table {
  margin-top: 30px;
  .header {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fafafa;
    height: 54px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .colIndex {
    width: 5%;
    padding: 10px;
  }
  .colSex {
    width: 10%;
    padding: 10px;
  }
  .colItem {
    width: 16%;
    padding: 10px;
  }
  .colContent {
    width: 30%;
  }

  .colRight {
    width: 14%;
  }

  .tableRow {
    display: flex;
    width: 100%;
    font-size: 14px;
    text-align: center;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    .bodyIndex {
      width: 5%;
      padding: 10px;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
    }
    .bodyItem {
      width: 15%;
      padding: 10px;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
    }
    .group {
      width: 80%;
    }
    .bodyInfo {
      width: 100%;
      display: flex;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      .ageGroup {
        width: 20%;
        padding: 10px;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
      }
      .memberInfo {
        width: 80%;
      }
    }
    .lastItem {
      border-bottom: none !important;
      border-right: none !important;
    }
  }
}
