.wrap {
  background-color: #fff;
  padding-bottom: 50px;
  .header {
    background-image: url("../../assets/image/bgProfiles.png");
    padding: 1vh 0 1vh 39px;
    display: flex;
    height: 70px;
    justify-content: space-between;
    .logo {
      display: flex;
      align-items: center;
      .logoImg {
        width: 76px;
        height: 76px;
      }
      .title {
        margin-left: 24px;
        color: #f6c404;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1px;
      }
    }
    .menu {
      display: flex;
      align-items: center;
      .menuContent {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;
        color: #f6c404;
        font-size: 16px;
      }
      .account {
        background-color: transparent;
        color: #f6c404;
        font-size: 16px;
      }
      .account:hover {
        background-color: transparent;
        color: #f6c404;
        font-size: 16px;
      }
      .menuContent li {
        margin: 0 2vh 0 3vh;
        cursor: pointer;
      }
    }
    .subMenu {
      color: #f6c404;
      background-color: transparent;
      border: none !important;
      font-size: 16px;
    }

    .item {
      padding: 2vh;
      margin: 0.7vh;
      border-radius: 4px;
    }
    .item:hover {
      background-color: var(--subPrimary);
    }
    ul {
      margin: 0;
    }
    ul li {
      list-style-type: none;
    }
  }
  .content {
    // padding: 6vh 42vh 0 42vh;
    padding: 120px 20vh;
    .title {
      text-align: center;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 1px;
      margin-bottom: 8vh;
    }
    .form {
      text-align: center;
      .buttonGroup {
        // margin-top: 1vh;
        margin-bottom: 1vh;
        .showBtn {
          margin-right: 2vh;
          border: none;
          border-radius: 4px;
          padding: 1vh;
          cursor: pointer;
        }
        .selectedBtn {
          background-color: var(--primary);
          color: white;
        }
        .noneSelectedBtn {
          background-color: #adb4b0;
          color: white;
        }
      }
    }
    .uploadImg {
    }
    .btn {
      background-color: var(--primary);
      color: white;
      width: 100%;
    }
    .btn:hover {
      background-color: var(--primary);
      color: white;
      width: 100%;
      border: none;
    }
  }
}
@media only screen and (max-width: 1200px) and (min-width: 768px) {
  .wrap .content {
    padding: 12vh 4vh 0 4vh;
  }
}

/* Cho các thiết bị có chiều rộng nhỏ hơn 768px (điện thoại) */
@media only screen and (max-width: 767px) {
  .wrap .content {
    padding: 12vh 4vh 0 4vh;
  }
}
