.btnContainer {
  display: flex;
  justify-content: flex-end;
}
.formImage {
  margin-top: 8px;
  display: flex;
  height: 265px;
  justify-content: space-around;
  overflow: hidden;
}

.uploadForm {
  text-align: center;
  width: 180px;
  overflow: hidden;
}

.uploadImg > div > div {
  width: 180px !important;
  height: 180px !important;
  min-height: 200px;
}
@media only screen and (max-width: 1200px) and (min-width: 768px) {
  .wrap .content {
    padding: 6vh 4vh 0 4vh;
  }
}
.formItemClass {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
/* Cho các thiết bị có chiều rộng nhỏ hơn 768px (điện thoại) */
@media only screen and (max-width: 767px) {
  .wrap .content {
    padding: 6vh 4vh 0 4vh;
  }
}
