.btnContainer {
    display: flex;
    justify-content: flex-end;
  }
  @media only screen and (max-width: 1200px) and (min-width: 768px) {
    .wrap .content {
      padding: 6vh 4vh 0 4vh;
    }
  }
  
  /* Cho các thiết bị có chiều rộng nhỏ hơn 768px (điện thoại) */
  @media only screen and (max-width: 767px) {
    .wrap .content {
      padding: 6vh 4vh 0 4vh;
    }
  }