.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  height: auto;
  min-height: 100vh;
  background-image: url("../../assets/image/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.imageWrap {
  text-align: center;
}

.img {
  width: 195px !important;
  min-width: 150px !important;
}

.title {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 600;
  color: #000;
}

.search {
  margin-top: 30px;
  text-align: center;
}

.titleSearch {
  font-size: 18px;
  color: #000;
}

.input {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  height: 70px !important;
  width: 600px;
  padding: 10px 8px;
  border-radius: 4px;
}

.btn {
  height: 48px !important;
  cursor: pointer;
  background-color: var(--primary);
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  padding: 12px 30px;
  border-radius: 8px;
  border: none;
}

@media only screen and (max-width: 576px) {
  .input {
    width: 300px;
  }
}
