.wrap{
    position: sticky;
    display: flex;
    align-items: center;
    background-image: url("../../assets/image/background.png");
    height: 60px;
    color: var(--subPrimary);
    font-size: 16px;
    font-weight: 500;
    padding: 0 30px;
    .footerText{
        // font-size: 14px;
         font-weight: 200;
    }
}

.icon{
    font-size: 22px;
    font-weight: 600;
    margin-right: 10px;
}

@media only screen and (max-width: 576px) {
    .wrap{
        font-size: 12px;
    }
    .icon{
        font-size: 18px;
    }
}