.wrap{
    display: flex;
    align-items: center;
    background-image: url("../../assets/image/background.png");
    height: 70px;
    color: var(--subPrimary);
    font-size: 18px;
    font-weight: 600;
    padding: 0 30px;
}