.wrap{
    height: auto;
    min-height: 100vh;
    padding: 50px 20px;
    background-image: url("../../assets/image/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.imageWrap{

    text-align: center;
}

.img{
    width: 195px !important;
    min-width: 150px !important;
}

.title{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    color: #000;
}


.colImgWrap {
    height: 100%;
    width: 100%;
    text-align: center;
}

.colImgWrap > div {
    width: 100%;
    height: 100%;
}

.detailImg{
    width: 200px !important;
    height: 200px !important;
    object-fit: cover;
    border-radius: 8px;
    
}

.accImg{
    width: 220px !important;
    height: 130px !important;
    object-fit: cover;
    border-radius: 8px;
}

.qrImg{
    max-width: 200px;
    width: 100% !important;
    height: 100% !important;
}

.DetailItem > div {
    font-size: 18px ;
    font-weight: 500;
    margin-bottom: 20px;
}

.awardList{
    list-style: none;
}

.award{
    margin-bottom: 14px;
}

.NumberOrders{
    margin-right: 8px;
    color: #000;
}

.searchWrap{
    min-height: 100vh;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../assets/image/bg.png");
    color: #000;
}

@media only screen and (max-width: 768px){
    .detailImg{
        width: 100px !important;
        height: 100px !important;
        object-fit: cover;
    }
}