.wrap{
  overflow: hidden;
  padding: 0 40px;
  background-color: #fff;
}

.logoWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 20px 10px 20px;
  .title {
    // font-weight: bold;
  }

  .logoContainer {
    text-align: center;
  }

  .logoImg {
    width: 195px !important;
    min-width: 150px !important;
    margin-bottom: 3vh;
  }
  .titleContent {
    justify-content: center;
    text-align: center;
   
  }
  .titleText {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 91.667% */
    margin-bottom: 3vh;
  }
  .subTitleText {
    display: flex;
    justify-content: space-between;
    margin: 0.5vh 0;
    font-size: 16px;
    line-height: 22px;
    color: #000;

    .labelTitle {
      line-height: 25px;
    }
    .titleName{
      margin-left: 60px;
    }
  }
  .title {
    line-height: 35px;
    font-weight: 500;
  }
}
.boldText{
  font-weight: bold;
}
.contentWrap {
  margin: 0 0vh 3vh 0vh;
  .buttonGroup {
    text-align: end;
    .search {
      // margin-right: 3vh;
    }

    
  }
  .table {
   
    .btnTb {
      border-radius: 4px;
      margin-left: 4px;
      background: var(--subPrimary);
      border: none;
      color: white;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px; /* 157.143% */
      padding: 0px 8px;
      cursor: pointer;
    }
    .btnTbDanger {
      border-radius: 4px;
      margin-left: 4px;
      background: var(--secondary);
      border: none;
      color: white;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px; /* 157.143% */
      padding: 0px 8px;
    }
    .btnHide {
      border-radius: 4px;
      margin-left: 4px;
      background: #adb4b0;
      border: none;
      color: white;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px; /* 157.143% */
      padding: 0px 8px;
    }
  }
}
// .buttonGroup {
//   display: flex;
//   justify-content: flex-end; /* Adjust as needed */
//   align-items: center;
// }

.rightContent {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adjust as needed */
}

.search {
  flex: 1; /* Takes remaining space */
}

@media (max-width: 900px) {
  .responsiveContent {
    flex-direction: column;
  }
  // .table {
  //   margin: 0 2vh;
  // }
}
@media  (max-width: 900px) {
  .buttonGroup {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // margin-right: 3vh;
    .rightContent {
      margin: 0;
    }

    .search {
      // margin-right: 3vh;
      // margin-bottom: 6px;
      margin-bottom: 5px !important;
      width: 90% !important;
    }

    .btn {
      cursor: pointer;
      // margin-left: 2vh;
      background-color: var(--primary);
      color: white;
      width: 100% !important;
      border-radius: 4px;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      .icon {
        margin-right: 4px;
      }
    }
  }
    .table {
      .btnTb {
        border-radius: 4px;
        background: var(--primary, #046c39);
        border: none;
        color: white;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 157.143% */
        // padding: 2px 3px 1px 3px;
        cursor: pointer;
      }
      .btnTbDanger {
        border-radius: 4px;
        margin-left: 4px;
        background: var(--secondary);
        border: none;
        color: white;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 157.143% */
        padding: 0.5vh 1.6vh 0vh 1.6vh;
      }
      .btnHide {
        border-radius: 4px;
        margin-left: 4px;
        background: #adb4b0;
        border: none;
        color: white;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 157.143% */
        padding: 0.5vh 1.6vh 0vh 1.6vh;
      }
    }
  
}
.btn {
  height: 40px;
  cursor: pointer;
  border: none;
  max-width: 160px;
  margin-bottom: 4px;
  background-color: var(--primary);
  color: white;
  padding: 8px 11px;
  border-radius: 4px;
  font-size: 16px;
  .icon {
      margin-right: 4px;
  }
  &:hover{
      opacity: 0.7;
  }
}

.btnView{
  border-radius: 4px;
  background: var(--primary);
  border: none;
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  padding: 0px 8px;
  cursor: pointer;

}

@media (max-width: 920px) {
  .wrap{
    padding: 0 20px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 576px) {
  .btn{
      font-size: 14px;
      padding: 8px;
  }
}